mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title MicroProfile

  link(rel='stylesheet', type='text/css', href='build/build.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

  body

    article

      +slide('title')
      
      +slide
        div.main-wrap
          div.leftbar
            h2.gothicfont(style='font-size:2em') Alex Soto
            br
            h2.gothicfont.important(style='font-size:1em') Red Hat Engineer
            h2.gothicfont(style='font-size:1em') Open Source Advocate
            h2.gothicfont.important(style='font-size:1em') @alexsotob
            img(src='images/public.png', style="width:40%")
          div.rightbar
            img(src='images/family.jpg', style="width:100%")
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('adarise')
        h2.biggothic.gothicfont Questions
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemash(src='images/community.png')
        aside(role='note') Conversations -> already using JavaEE and none JavaEE -> found project to move forward, common ground
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Sept 2016 Release 1.0

        ul.lists
          li JAX-RS
          li CDI
          li JSON-P
          
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h2.gothicfont.filegothic CDI Example
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            @Informal
            public class InformalGreeting extends Greeting {
              public String greet(String name) {
                return "Hi, " + name + "!";
              }
            }
            
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            public class Printer {
              @Inject @Informal Greeting greeting;
            }
        
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.filegothic JAX-RS Example
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            @Path("/")
            public class GreetingResource {

              @Inject @Informal Greeting greeting;

              @GET
              @Path("greeting/{name}")
              @Produces(MediaType.TEXT_PLAIN)
              public Response getMessageByUser(@PathParam("name") String name) {
                return Response.ok(greeting.greet(name)).build();
              }
            }

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h2.gothicfont.filegothic JSON-P Example
        pre.small.language-javascript
          code.bullet.bespoke-bullet.bespoke-bullet-active.bespoke-bullet-current.
            JsonObject value = new JsonBuilder() 
             .beginObject() 
               .add("firstName", "John") 
               .add("lastName", "Smith") 
               .add("age", 25)
              .endObject()
            .build();

          
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            String json = "...";
            JsonReader reader = new JsonReader(new StringReader(json));
            JsonValue value = reader.readObject();
            reader.close();

          
          code.bullet.bespoke-bullet.bespoke-bullet-inactive.
            JsonWriter jsonWriter = new JsonWriter(new FileWriter(...));
            JsonObject jsonObject = new JsonBuilder()
            .build();
            jsonWriter.writeObject(jsonObject);
            jsonWriter.close();
            
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        
      +slide('speed')
        h2.gothicfont <span class='important'>Rapidly iterate</span> and innovate
        aside(role='note') 3-4 years between EE because not collaboration as much, tries what and not works (2 months), change fast 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('contract')
        h2.gothicfont Build <span class='important'>Consensus</span>
        aside(role='note') Public mailing list, create community, no paper
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('certified')
        h2.gothicfont <span class='important'>Standardize</span>
        aside(role='note') Certified to Java EE
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.schemas(src='images/time.png')
        aside(role='note') Start with minimal things (because of you), website,OS Foundation, Non Profit, Legal and technical IT
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('infra')
        h2.gothicfont Reference Architecture
        aside(role='note') Demo No App, Microservice -> MicroserviceS, Use Case approach, conference
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('swarm')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Session Service

        ul.lists
          li Session CRUD(Session)
          li List<> search(Session)
          li List<> sessionForSpeaker(Speaker)
          li List<> speakersForSession(Session)
              
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline WildFly Swarm

        ul.lists
          li Jar size ~65mb, startup ~6s, heap usage ~40mb
          li Uber jar with bootstrap layer
          li Fractions, Java EE + WildFly
          li Non-EE(Service Registry, Circtuit-Breaker, Configuration)
                  
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('ibm')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Voting Service

        ul.lists
          li Attendee CRUD(Attendee)
          li SessionRating rateSession(SessionRating)
          li SessionRating updateSession(SessionRating)
          li List<> allSessionVotes(SessionId)
          li Double sessionRatingAverage(SessionId)
          li List<> votesByAttendee(Attendee)
                  
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Liberty

        ul.lists
          li Jar size ~35mb, startup ~7s, heap usage ~21mb
          li Uber jar with unzip
          li Liberty, Java EE
          li Extras for production
                      
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('payara')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Schedule Service

        ul.lists
          li Schedule CRUD(Schedule)
          li List<> allForVenue(Venue)
          li List<> activeAtTime(time)
          li List<> allForDay(date)

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Payara

        ul.lists
          li Jar size ~33mb, startup ~5s, heap usage ~20mb
          li Uber jar using CLI
          li Glassfish, Java EE
          li Hazelcast cluster CDI
                          
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('tomitribe')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h2.gothicfont.smallgothic.underline Speaker Service

        ul.lists
          li Speaker CRUD(Speaker)
          li Set<> search(Speaker)
        
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h2.gothicfont.smallgothic.underline Apache TomEE

        ul.lists
          li Jar size ~35mb, startup ~3s, heap usage ~75mb
          li Uber jar bootstrap layer
          li It is a Tomcat, Java EE
                              
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h3.gothicfont https://github.com/microprofile/microprofile-conference
  
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        h2.gothicfont.smallgothic.underline Next features

        ul.lists
          li Persistence
          li Security via JWT
          li Standard Configuration
          li OpenAPI/Swagger
          li Service Discovery
          li Caching
                              
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('alexoh')
        h2.gothicfont Where is <span class='important'>My Feature?</span>
        aside(role='note') w want to include you, 1 thing every 2 months
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
          
      +slide
        h3.gothicfont https://groups.google.com/forum/#!forum/microprofile
        h3.gothicfont https://github.com/microprofile/evolution
        
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('microprofileweb')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('adathink')
        h2.gothicfont.smallgothic Let's <span class='important'>wind down</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        h2.gothicfont.smallgothic.underline Conclusions

        ul.lists
          li Community is the most important
          li EE and non-EE
          li It is not a split

        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('swarm')
        aside(role='note') 
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide
        img.avatar(src='images/profile.jpg')
        br
        a(href='http://bit.ly/2gLiXEL', style='border:none')
          i.fa.fa-slideshare
          h3 http://bit.ly/2gLiXEL
          i.fa.fa-envelope
          h3 asotobu@gmail.com
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

    script(src='build/build.js')
